@model IEnumerable<EntityLayer.Entities.Servisler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Rol Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <a asp-action="Create" asp-controller="Servisler" class="btn btn-primary">Yeni</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Servis Ad</th>
                     <th>Kateogri Id</th>
                    <th>Fiyat</th>
                    <th>Servis Image</th>
                    <th style="width: 40px">Düzelt</th>
                    <th style="width: 40px">Silme</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
            @foreach(var item in Model)
            {
                    <tr>
                        <td>@i.</td>
                        <td>@item.Servis_Ad</td>
                        <td>@item.Kategori_Id</td>
                        <td>@item.Fiyat</td>
                        <td>@item.Servis_Image
                        <img src="~/Yemek_Resim/+@item.Servis_Image" height="100px" width="100px"/>
                 
                        </td>
                        <td><a class="btn btn-success" asp-action="Edit" asp-controller="Servisler" asp-route-Id="@item.Servis_Id">Düzelt</a></td>
                        <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Servisler" asp-route-Id="@item.Servis_Id">Silme</a></td>
                    </tr>

                    i++;

                }
               

              
               
               
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>